// Colours
$color-bg: #1A1A1A;
$color-text: #fff;
$gradient-purple: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
$gradient-pink: linear-gradient(90deg, #B8CBB8 0%, #B8CBB8 0%, #B465DA 0%, #CF6CC9 33%, #EE609C 66%, #EE609C 100%);

// font sizes
$font-xl: 8.4rem;
$font-l: 3.2rem;
$font-md: 2.4rem;
$font: 1.6rem;

// Spacing - follows an 8px spacing rule with a root font-size of 10px
$spacing: 0.8rem; 

// Tokens
$border-radius: 8px;
$shadow-hard: -10px 10px 20px rgba(0, 0, 0, 0.5);


