@import '../variables';

.card {
  margin-right: $spacing * 6;
  max-width: 20rem;
  &__img {
    width: 20rem;
    max-height: 28rem;
    border: .1rem solid transparent;
    transition: all 0.2s ease-in;
    &:hover {
      border-width: .4rem;
      border-color: purple;
      margin-top: -1rem;
    }
  }
  &__title {
    text-align: center;
    color: $color-text;
    padding: $spacing 0px;
  }
}